/* SCSS for book information page */

#local_stars {
	width: 20%;
}
#user_stars {
	width: 15%;
}
#image_1 {
	width: 2%;
}
#image_2 {
	width: 2%;
}
#book_rate_count {
	display: none;
}
@media screen and (max-width: 600px) {
	#local_stars {
		width: 50%;
	}
	#user_stars {
		width: 50%;
	}
	#image_1 {
		width: 6%;
	}
	#image_2 {
		width: 6%;
	}
	.First_card {
		left: 1%;
		width: 95%;
	}
	img {
		width: 50%;
		align-content: center;
	}
}
img {
	width: 20%;
	align-content: center;
	box-shadow: 0 4% 8% 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body {
	background-position: center;
	background-repeat: repeat;
	-webkit-background-size: auto;
	-moz-background-size: auto;
	-o-background-size: auto;
	background-size: auto;
	font-family: sans-serif;
	background-attachment: fixed;
}

#items_style {
	font-weight: bold;
	color: black;
}
#rate_number {
	font-family: 'Kalam';
	font-size: 150%;
	color: rgb(255, 145, 0);
}