$bk_color: rgba(0, 0, 0, 0.596);
$box_color: #fff;

.login-box {
	width: 320px;
    height: 390px;
    background: $bk_color;
    color: $box_color;
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 20px 30px;
}
h4 {
    font-size: 150%;
}
p {
    font-family: cursive;
}
body {
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#login_button {
    background-color: rgba(255, 0, 0, 0.719);
    color: rgb(255, 255, 255);
    font-weight: bold;
}
#login_button:hover {
    background-color: aqua;
    color: black;
}

#register_button {
    color: rgb(251, 255, 0);
    font-weight: bold;
}
#register_button:hover {
    color: rgb(0, 255, 255);
}